@model application.Domain.Enitites.Product

@{
    Layout = null;
    
}

<!DOCTYPE html>
<html>
<head>
    @{ Html.RenderPartial("Head"); }
    <title>@Model.Name</title>
    <meta name="Keywords" content="рольшторы, ролшторы, роллшторы, рольшторы @Model.CategoryEntity.Category, рольшторы польша, польские ролшторы, рольшторы в Минксе, ролшторы в Минске, купить рольшторы Минск, рольшторы Karten, рольшторы @Model.Name">
    <meta name="description" content="Рольшторы польской фабрики Karten" />
</head>
<body>
    @{ Html.RenderPartial("Header");
    }
    <section class="itemDetails content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs">
                        <a href="~/Product/List">Все коллекции</a>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 col-md-5 col-sm-offset-0 leftImage">
                    <div id="mainImage" class="imageWraper">
                        <img src="~/Content/img/RolCollections/@Model.Id/1.png" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>@Model.Name</h1>
                        </div>
                        <div class="col-xs-12">
                            <p>@Model.CategoryEntity.Description</p>
                            <p>@Model.Description</p>
                        </div>
                        <!--  <div class="col-xs-12 price">
                            <h2>10руб</h2>
                        </div> -->
                        <div class="col-xs-10 col-xs-offset-1 hidden-sm hidden-md hidden-lg leftImage">
                            <div id="mainImage" class="imageWraper">
                                <img src="~/Content/img/RolCollections/@Model.Id/1.png" />
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h4>
                                Цвет:<span id="color"> @{ Html.RenderAction("FirstColorEnumeration", "Color", new { Model.Id }); }</span>
                                </h4>
                            </div>
                        
                            <div class="col-xs-12 colors">
                                <div id ="rolColors" class="row">
                                    @{ Html.RenderAction("ColorEnumeration", "Color", new { Model.Id }); }
                                </div>

                            </div>
                            <div id="size" class="col-xs-12">
                                <h4>Размеры(ШxВ)см:</h4>
                            </div>
                            <div class="col-xs-12">
                                <h5>Мини:</h5>
                            </div>
                            <div class="col-xs-12 sizes">
                                <div class="row">
                                    @{ Html.RenderAction("SizeRol", "SizeRol"); }
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <h5>Универсальные:</h5>
                            </div>
                            <div class="col-xs-12 sizes">
                                <div class="row">
                                    @{ Html.RenderAction("SizeUniversal", "SizeRol", new { Model.CategoryEntity.Id }); }
                                </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <script type="text/javascript">
            var collectionId = @Model.Id;
        </script>

        @{ Html.RenderPartial("Footer"); }
     
    </body>
    </html>
